trafficgraphnn/lib/
data/

*.sublime-project
*.sublime-workspace
.idea

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

3lanes_estimation_results

*.pdf

run sumo-gui with simulation

